#include <windows.h>

1 ICON "../assets/app-icon.ico"
1 RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,5,1,0
 PRODUCTVERSION 0,5,1,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x2L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName", "Rep Counter contributors\0"
      VALUE "FileDescription", "Rep Counter workout timer\0"
      VALUE "FileVersion", "0.5.1-alpha\0"
      VALUE "InternalName", "rep_counter\0"
      VALUE "LegalCopyright", "Copyright (C) 2026 Rep Counter contributors\0"
      VALUE "Comments", "Licensed under GPL-3.0-only\0"
      VALUE "OriginalFilename", "rep_counter.exe\0"
      VALUE "ProductName", "Rep Counter\0"
      VALUE "ProductVersion", "0.5.1-alpha\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
